<div class="content">
    <div class="buttons">
        <button class="operational-button" data-action="create_product">
            Добавить продукт +
        </button>
    </div>
    <br>
    <hr>
    <br>
    <div class="aggregate-container">
        <div class="filter aggregate">
            <label for="category"><span>Категории:</span></label>
            <select name="category" id="category" multiple size="3">
                <option value="all" {% if not filter.category %}selected{% endif %} onselect="(el) => {
                    for (let i in el.parentElement.options) {
                        if (i > 0) {
                            el.parentElement.options[i].setattr('selected' = true)
                        }
                    }
                }">Выбрать все</option>
                {% for category in categories %}
                    <option value="{{ category.title }}" {% if category.title in filter.category %}selected{% endif %} onclick="(el) => {
                        el.parentElement.options[0].setattr('selected' = '')
                    }">{{ category.title }}</option>
                {% endfor %}
            </select>
            <label for="manufacturer"><span>Производители:</span></label>
            <select name="manufacturer" id="manufacturer" multiple size="3">
                <option value="all" {% if not filter.manufacturer %}selected{% endif %} onselect="(el) => {
                    for (let i in el.parentElement.options) {
                        if (i > 0) {
                            el.parentElement.options[i].setattr('selected' = true)
                        }
                    }
                }">Выбрать все</option>
                {% for manufacturer in manufacturers %}
                    <option value="{{ manufacturer.title }}" {% if manufacturer.title in filter.manufacturer %}selected{% endif %} onclick="(el) => {
                        el.parentElement.options[0].setattr('selected' = '')
                    }">{{ manufacturer.title }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="sorting aggregate">
            <label for="sort"><span>Сортировать:</span></label>
            <select name="sort" id="sort">
                <option value="title" {% if sorting.sort == "title" %}selected{% endif %}>Название</option>
                <option value="manufacturer" {% if sorting.sort == "manufacturer" %}selected{% endif %}>Производитель</option>
                <option value="category" {% if sorting.sort == "category" %}selected{% endif %}>Категория</option>
            </select>
            <select name="order" id="order">
                <option value="0" {% if not sorting.order %}selected{% endif %}>По возрастанию</option>
                <option value="1" {% if sorting.order %}selected{% endif %}>По убыванию</option>
            </select>
        </div>
        <div class="aggregate">
            <button class="search-button" onclick="filterProducts(this)" data-drop="" data-action="products_list">Применить</button>
            <button class="search-button" onclick="filterProducts(this)" data-drop="1" data-action="products_list">Сбросить</button>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <div class="search aggregate">
        <label for="search"><span>Поиск: </span></label>
        <input type="text" name="search" id="search" data-action="products_list" value="{{ search }}">
        <button class="search-button" data-drop="" onclick="searchProducts(this)">Найти</button>
        <button class="search-button" data-drop="1" onclick="searchProducts(this)">Показать все</button>
    </div>
    <br>
    <hr>
    <br>
    <div class="pagination">
        <button class="operational-button" data-action="products_list" data-page="{{ page - 1 }}" {% if page == 1 %}disabled{% endif %} >
            Пердыдущая
        </button>
        <span class="page-number">Страница: {{ page }} из {{ pages }}</span>
        <button class="operational-button" data-action="products_list" data-page="{{ page + 1 }}" {% if page == pages %}disabled{% endif %} >
            Следующая
        </button>
        <select name="limit" id="limit" onchange="pagintionChangeListener(this)" data-action="products_list">
            <option value="2" {% if limit == 2 %}selected{% endif %} >2</option>
            <option value="10" {% if limit == 10 %}selected{% endif %}>10</option>
            <option value="20" {% if limit == 20 %}selected{% endif %}>20</option>
            <option value="50" {% if limit == 50 %}selected{% endif %}>50</option>
        </select>
    </div>
    <br>
    <table class="table">
        <tr>
            <th>Категория</th>
            <th>Наименование</th>
            <th>Производитель</th>
            <th>Остаток</th>
            <th>Ед. изм.</th>
            <th>Цена</th>
        </tr>
        {% for object in objects %}
        <tr>
            <td>{{ object.category_id }}</td>
            <td>{{ object.title }}</td>
            <td>{{ object.manufacturer_id }}</td>
            <td>{{ object.quantity }}</td>
            <td>{{ object.units }}</td>
            <td>{{ object.price }} руб./{{ object.units }}</td>
            <td>
                <button class="operational-button" data-action="update_product" data-id="{{ object.id }}">
                    Изменить
                </button>
            </td>
            <td>
                <button class="operational-button" data-action="delete_product" data-id="{{ object.id }}">
                    Удалить
                </button>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>