* {
	padding: 0;
	margin: 0;
}

body {
	position: relative;
}

.frame {
	position: absolute;
	display: none;
	width: 100%;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

.visible-frame {
	display: flex;
}
.visible-frame .form-content {
	border-radius: 10px;
	padding: 10px;
	min-width: 30%;
	box-shadow: 0 0 20px 10px gray;
}
.form-content {
	background-color: #FFF;
}

form {
	display: flex;
	flex-direction: column;
	align-items: space-between;
	font-size: 20px;
	margin: 20px;
	background-color: #FFF;
}
form label, select {
	display: flex;
	justify-content: space-between;
	margin: 10px 10px;
}

select {
	font-size: 14px;
	line-height: 1.5em;
}

form input {
	flex-grow: 3;
	line-height: 1.5em;
}
form span {
	min-width: 40%;
}
#form-title {
	display: flex;
	align-self: center;
}
.controls {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.error {
	color: red;
	font-size: 12px;
}
button {
	border-radius: 3px;
	font-size: 16px;
	padding: 8px 20px;
	cursor: pointer;
	color: #FFF;
	background-color: #019245;
}
.control-button {
	margin: 0 10px;
}
.cancel-button {
	background-color: #731982;	
}
.dialog {
	position: absolute;
	top: 50%;
	left: calc(50% - width / 2);
	display: flex;
	padding: 30px;
	flex-direction: column;
	background-color: #FFF;
	border-radius: 10px;
	box-shadow: 0 0 20px 10px gray;
}
.dialog div {
	display: flex;
}
.dialog button {
	margin: 5px;
}
.dialog h4 {
	font-size: 14px;
}
table {
    width: 90vw;
	margin: 0 auto;
}
tr:nth-child(2n) {
	background-color: gainsboro;
}
td {
	text-align: center;
}
button:disabled {
    background-color: gray;
}

#header {
    color: #FFF;
    min-height: 50px;
    margin-bottom: 5px;
    background-color: #019245;
	display: flex;
	align-items: center;
}
.header-container {
    display: flex;
    justify-content: space-between;
	height: 100%;
	width: 100%;
}
.menu {
    flex-grow: 7;
    display: flex;
    list-style: none;
}
.menu-item {
    cursor: pointer;
	align-items: center;
}
#user {
    display: flex;
    flex-grow: 3;
	align-items: center;
}
.active-link {
    font-weight: bold;
    cursor: default;
}
.hidden {
    display: none;
}
.aggregate-container {
    display: flex;
    justify-content: space-around;
}
.filter {
    display: flex;
}
.aggregate > label {
    font-weight: bold;
}
.search {
    padding: 0 20px;
}
.pagination {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.pagination span {
    font-size: 18px;
    font-weight: bold;
    margin: 0 10px;
}