<div class="form-content">
    <h2 id="form-title">Изменить контрагента</h2>
    <form action="#" method="post">
        {% for error in errors %}
          <p class="error"> {{ error }}</p>
        {% endfor %}
        <br>
        <fieldset>
            <legend>Основная информация</legend>
            <label for="kind">Форма организации: </label>
            <input type="text" name="kind" id="kind" value="{{ object.kind }}">
            <label for="title">Название: </label>
            <input type="text" name="title" id="title" value="{{ object.title }}">
            <label for="phone">Номер телефона: </label>
            <input type="tel" name="phone" id="phone" value="{{ object.phone }}">
        </fieldset>
        <br>
        <fieldset>
            <legend>Банковские реквизиты</legend>
            <label for="inn">ИНН: </label>
            <input type="text" name="inn" id="inn" value="{{ object.inn }}">
            <label for="kpp">КПП: </label>
            <input type="text" name="kpp" id="kpp" value="{{ object.kpp }}">
        </fieldset>
        <br>
        <fieldset>
            <legend>Адрес</legend>
            <label for="region">Область: </label>
            <input type="text" name="region" id="region" value="{{ object.region }}">
            <label for="district">Район: </label>
            <input type="text" name="district" id="district" value="{{ object.district }}">
            <label for="place">Населенный пункт: </label>
            <input type="text" name="place" id="place" value="{{ object.place }}">
            <label for="street">Улица: </label>
            <input type="text" name="street" id="street" value="{{ object.street }}">
            <label for="building">Номер дома: </label>
            <input type="text" name="building" id="building" value="{{ object.building }}">
        </fieldset>
      </form>
    <div class="controls">
      <button class="control-button ok-button", data-id="{{ object.id }}" data-action="update_customer">Ok</button>
      <button class="operational-button cancel-button" data-action="detail_customer" data-id="{{ object.id }}">Отмена</button>
    </div>
  </div>