<div class="form-content">
  <h2 id="form-title">Создать менеджера</h2>
  <form action="#" method="post">
    {% for error in errors %}
      <p class="error"> {{ error }}</p>
    {% endfor %}
    <label for="username">Имя пользователя: </label>
    <input type="text" name="username" id="username" required>
    <label for="name">Имя: </label>
    <input type="text" name="name" id="name" required>
    <label for="surname">Фамилия: </label>
    <input type="text" name="surname" id="surname" required>
    <label for="email">E-Mail: </label>
    <input type="email" name="email" id="email" required>
    <select name="role" id="role">
        <option value="admin">Администратор</option>
        <option value="user" selected>Менеджер</option>
    </select>
  </form>
  <div class="controls">
    <button class="control-button ok-button" data-action="create_manager">Ok</button>
    <button class="control-button cancel-button" data-action="cancel">Отмена</button>
  </div>
</div>