<div class="content">
    <div class="buttons">
        <button class="operational-button" data-action="create_manager" {% if user.role != 'admin' %} disabled {% endif %}>
            Добавить менеджера +
        </button>
    </div>
    <br>
    <hr>
    <br>
    <table>
        <tr>
            <th>Логин</th>
            <th>Роль</th>
            <th>Полное имя</th>
            <th>Электронный адрес</th>
            <th>Дата регистрации</th>
        </tr>
        {% for object in objects %}
        <tr>
            <td>{{ object.username }}</td>
            <td>{{ object.role }}</td>
            <td>{{ object.full_name }}</td>
            <td>{{ object.email }}</td>
            <td>{{ object.created_at }}</td>
            <td>
                <button class="operational-button" data-action="update_manager" data-id="{{ object.id }}" {% if user.role != 'admin' and user.id !=object.id %} disabled {% endif %}>
                    Изменить
                </button>
            </td>
            <td>
                <button class="operational-button" data-action="delete_manager" data-id="{{ object.id }}" {% if user.role != 'admin' and user.id !=object.id %} disabled {% endif %}>
                    Удалить
                </button>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>