<div class="form-content">
    <h2 id="form-title">Сброс пароля</h2>
    <form action="#" method="post">
      {% for error in errors %}
        <p class="error">{{ error }}</p>
      {% endfor %}
      <label for="username"><span>Имя пользователя: </span></label>
      <input type="text" name="username" id="username">
      <label for="password"><span>Пароль: </span></label>
      <input type="password" name="password" id="password">
      <label for="password2"><span>Подтверждение: </span></label>
      <input type="password" name="password2" id="password2">
    </form>
    <div class="controls">
      <button class="control-button ok-button" data-id="{{ object.id }}" data-action="password_reset">Ok</button>
      <button class="control-button cancel-button" data-action="cancel">Отмена</button>
    </div>
</div>