<div class="form-content">
    <h2 id="form-title">Сброс пароля</h2>
    <form action="#" method="post">
        {% for error in errors %}
            <p class="error">{{ error }}</p>
        {% endfor %}
        <input type="hidden" name="stage" value="send_code">
        <label for="code"><span>Код подтверждения: </span></label>
        <input type="text" name="code" id="code">
    </form>
    <div class="controls">
        <button class="control-button ok-button" data-action="password_reset">Ok</button>
        <button class="control-button cancel-button" data-action="cancel">Отмена</button>
    </div>
</div>